<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <!-- Browser support -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>bootnode</title>
    <!-- Appicons -->
   <link rel="apple-touch-icon" href="/static/core/images/bootnode_appicon.png">
    <!-- Favicons -->
   <link rel="icon" type="image/png" href="/static/core/images/bootnode_favicon.png" />


    <!-- Favi icons -->
    <link rel="icon" type="image/png" href="/static/core/images/bootnode_favicon.png" sizes="32x32" />

    <!-- Mobile Site icons -->
    <link rel="apple-touch-icon" href="/static/core/images/bootnode_appicon.png">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static "library/css/reset.css" %}" />
    {% block style %}{% endblock %}
</head>

<body>
    {% block body %}{% endblock %}

    {% block templates %}{% endblock %}

    <!-- Javascript libraries -->
    <script type="text/javascript" src="{% static "library/js/jquery-2.1.4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/jquery.cookie-1.4.1.min.js" %}"></script>
    {% block library %}{% endblock %}

    <!-- Application context -->
    <script type="text/javascript">
        window.app = {};
        (function() {
            'use strict';
            window.app.context = {
                {% autoescape off %}
                    {% block context %}{% endblock %}
                {% endautoescape %}
            }
        })();
    </script>

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-59748893-1', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- Javascript application -->
    <script type="text/javascript" src="{% static "core/js/base.js" %}"></script>
    {% block script %}{% endblock %}
</body>

</html>
