{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" href="{% static "library/css/novnc/base.css" %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static "library/js/novnc/util.js" %}"></script>
    <script src="{% static "library/js/novnc/webutil.js" %}"></script>
    <script src="{% static "library/js/novnc/base64.js" %}"></script>
    <script src="{% static "library/js/novnc/websock.js" %}"></script>
    <script src="{% static "library/js/novnc/des.js" %}"></script>
    <script src="{% static "library/js/novnc/input.js" %}"></script>
    <script src="{% static "library/js/novnc/display.js" %}"></script>
    <script src="{% static "library/js/novnc/rfb.js" %}"></script>
    <script src="{% static "library/js/novnc/jsunzip.js" %}"></script>
    <script src="{% static "library/js/novnc/vnc.js" %}"></script>
</head>

<body style="margin: 0px;" cz-shortcut-listen="true">
    <div id="noVNC_screen">
        <canvas id="noVNC_canvas" width="1280" height="1024" style="cursor: default;">
            Canvas not supported.
        </canvas>
    </div>
</body>

</html>
