{% extends 'website/base.html' %}
{% load staticfiles %}

{% block body %}
    <h2>bootnode docs library</h2>

    <div>
        <table>
            <tr>
                <input type="text" id="term" name="term">
            </tr>
            <tr>
                <button id="somebutton">Search</button>
            </tr>
        </table>
    </div>
    <ul id="results">
    </ul>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static "website/js/docs.js" %}"></script>
{% endblock %}
