{% extends 'website/base.html' %}
{% load staticfiles %}

{% block context %}
    'user': {{ user }},
    'nodes': {{ nodes }},
    'images': {{ images }},
    'flavors': {{ flavors }},
    'toasts': {{ toasts }},
    'nodeConfigurations': {{ nodeConfigurations }},
    'kitConfigurations': {{ kitConfigurations }},
    {% if kits %}
        'kits': {{ kits }},
    {% endif %}
    {% if tasks %}
        'tasks': {{ tasks }}
    {% endif %}
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "library/css/jquery-ui.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "website/css/base.css" %}" />
{% endblock %}

{% block library %}
    <script type="text/javascript" src="{% static "library/js/underscore-min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/backbone-min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/jquery.lightbox_me.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/jquery.quicksand.js" %}"></script>
    <script type="text/javascript" src="{% static "library/js/date.min.js" %}"></script>
{% endblock %}

{% block script %}
    <!-- Models -->
    <script type="text/javascript" src="{% static "website/js/models/NodeConfiguration.js" %}"></script>
    <script type="text/javascript" src="{% static "website/js/models/KitConfiguration.js" %}"></script>
    <script type="text/javascript" src="{% static "website/js/models/Resource.js" %}"></script>
    <script type="text/javascript" src="{% static "website/js/models/Flavor.js" %}"></script>
    <script type="text/javascript" src="{% static "website/js/models/Kit.js" %}"></script>
    <script type="text/javascript" src="{% static "website/js/models/User.js" %}"></script>
    <script type="text/javascript" src="{% static "website/js/models/Node.js" %}"></script>
    <script type="text/javascript" src="{% static "website/js/models/Image.js" %}"></script>
    <script type="text/javascript" src="{% static "website/js/models/Toast.js" %}"></script>
    <script type="text/javascript" src="{% static "website/js/models/Task.js" %}"></script>

    <!-- Collections -->
    <script type="text/javascript" src="{% static "website/js/collections/NodeConfigurations.js" %}"></script>
    <script type="text/javascript" src="{% static "website/js/collections/KitConfigurations.js" %}"></script>
    <script type="text/javascript" src="{% static "website/js/collections/Resources.js" %}"></script>
    <script type="text/javascript" src="{% static "website/js/collections/Flavors.js" %}"></script>
    <script type="text/javascript" src="{% static "website/js/collections/Kits.js" %}"></script>
    <script type="text/javascript" src="{% static "website/js/collections/Nodes.js" %}"></script>
    <script type="text/javascript" src="{% static "website/js/collections/Images.js" %}"></script>
    <script type="text/javascript" src="{% static "website/js/collections/Toasts.js" %}"></script>
    <script type="text/javascript" src="{% static "website/js/collections/Tasks.js" %}"></script>

    <!-- Views -->
    <script type="text/javascript" src="{% static "website/js/views/KitBuildView.js" %}"></script>
    <script type="text/javascript" src="{% static "website/js/views/NodeView.js" %}"></script>
    <script type="text/javascript" src="{% static "website/js/views/AppView.js" %}"></script>

    <!-- Router & application start -->
    <script type="text/javascript" src="{% static "website/js/Router.js" %}"></script>
    <script type="text/javascript" src="{% static "website/js/setup.js" %}"></script>
    <script type="text/javascript" src="{% static "website/js/app.js" %}"></script>
{% endblock %}

{% block body %}
    <!-- this is what the internet has come to -->
    <div class="app-body" id="app-body">
    </div>
{% endblock %}

{% block templates %}
    {% include 'website/underscore/app.html' %}
{% endblock %}
