{% extends 'website/base.html' %}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "website/css/base.css" %}" />
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static "website/js/login.js" %}"></script>
{% endblock %}

{% block body %}
<div class="corner-ribbon top-left sticky red shadow">beta</div>
    <div class="signup-form-container">
        <h1 class="logo"><img src="{% static "core/images/bootnode_logo.png" %}"/></h1>
        <h2 id="prompt-container">Login</h2>
        <div>
            <input type="text" id="email" class="submit-on-enter" placeholder="Email">
            <input type="password" id="password" class="submit-on-enter" placeholder="Password">
            <button id="submit-login"><span id="login-button-text">Submit</span></button>
        </div>
        <p class="tos-disclaimer">Don't have an account yet? <a href="/register/">Sign up here</a>. Forgot your password? <a href="/reset_password/">Reset it</a>.</p>
    </div>
{% endblock %}
