{% extends 'website/base.html' %}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "website/css/base.css" %}" />
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static "website/js/register.js" %}"></script>
{% endblock %}

{% block body %}
    <div class="signup-form-container">
        <h1 class="logo"><img src="{% static "core/images/bootnode_logo.png" %}" /></h1>
        <h2 id="prompt-container">Create your account</h2>
        <div>
            {% if require_registration_code %}
              <input type="text" id="registration-code" placeholder="Registration Code"/>
            {% endif %}
            <input type="text" id="email" class="submit-on-enter" placeholder="Email"/>
            <input type="password" id="password" class="submit-on-enter" placeholder="Password"/>
            <input type="password" id="password-confirm" class="submit-on-enter" placeholder="Confirm password"/>
            <button id="submit-registration"><span id="submit-registration-text">Sign Up</span></button>
        </div>
        <p class="tos-disclaimer">By signing up, you agree to the <a href="#">Terms of Service</a></p>
    </div>
{% endblock %}
