{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "website/css/base.css" %}" />
{% endblock %}

{% block body %}
  <div class="container signup-form-container">
    <div class="header">
      <h3 class="text-muted">Password reset confirm</h3>
    </div>
     <div class="row" style="padding:20px;">
        {% if validlink %} <!-- If the link is valid, display a confirmation page, else display an error message -->
        <form role="form" action="." method="post">
         {% csrf_token %} <!-- CSRF token is rendered by Django in forms to avoid CSRF attacks -->

         <!-- If there are non-field errors in the form,
              iterate over them one by one and display them.
          -->
         {% if form.non_field_errors %}
          <p class="error">
            {% for error in form.non_field_errors %}
                {{ error }}
              {% endfor %}
          </p>
         {% endif %}
         <!-- Iterate over the fields in a form and render them  -->
         {% for field in form %}
          <div class="form-group">
            <!-- Render the field label tag -->
              {{ field.label_tag }}
            <!-- If the field is required, display a * next to the field label -->
            {% if field.field.required %}
            *
            {% endif %}
            <br/>
            <!-- Render the input field -->
              {{ field }}
            <!-- Iterate over the field's errors, if any and display
               them one by one in a error alert
          -->
            {% if field.errors %}
              <p class="error">
              {% for error in field.errors %}
                {{ error }}
              {% endfor %}
              </p>
            {% endif %}
          </div>
        {% endfor %}
          <input type="submit" class="btn btn-default" value="Submit" />
       </form>
     {% else %} <!-- Since the confirmatino link is invalid, display an error message -->
     Invalid password reset link
     {% endif %}
    </div>
  </div>
{% endblock %}
