{% extends 'website/base.html' %}

{% block body %}
    <input type="text" name="email-input" id="email-input">
    <input type="password" name="password-input" id="password-input">
    <button id="login-button">Login</button>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $('#login-button').on('click', submitLogin);

        function submitLogin() {
            var email = $('#email-input').val();
            var password = $('#password-input').val();

            $.ajax('/api/login/', {
                method: 'POST',
                data: {'username': email, 'password': password},
                success: function() {
                    window.location.href = '/';
                }
            });
        }
    </script>
{% endblock %}
