{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!-- inputs: is_locked_out -->
<script type="text/template" id="app-template">
    <% if(is_locked_out) { %>
        <div class="lockout-overlay"></div>
    <% } %>
    <header>
        <div class="bootnode-logo-wide-wrapper">
            <img class="bootnode-logo" src="{% static "core/images/bootnode_logo_small.png" %}" />
        </div>
        <div class="toast-wrapper" id="toast-wrapper">
            <!-- render toast-wrapper-template here -->
        </div>
        <div class="account-info-wrapper">
            <!-- render account-info-wrapper-template here -->
        </div>
    </header>

    <main>
        <div class="node-detail card">
            <h3 class="node-detail-title card-title">Node Details</h3>
            <ul class="node-info card-body">
                <!-- render node-info-template here -->
            </ul>
            <ul class="node-actions card-actions-body">
                <!-- render node-actions-template here -->
            </ul>
        </div>

        <div class="nodes-list-wrapper">
            <ul id="nodes-list" class="nodes-list">
                <!-- render nodes-list-template here -->
            </ul>
            <ul id="quicksandSwapout" class="hidden nodes-list"></ul>
        </div>

        <div class="docs-wrapper card">
        </div>
    </main>

    <footer>
        <span class="copyright">Copyright bootnode, Inc. 2015</span>
    </footer>
</script>

<!-- inputs: nodeInfo, consolePass -->
<script type="text/template" id="node-info-template">
    <% _.each(nodeInfo, function(pair) { %>
        <li class="node-info-pair">
            <span class="node-info-pair-value"><%= pair['value'] %></span>
            <span class="node-info-pair-label"><%= pair['field'] %></span>
        </li>
    <% }); %>
    <li class="node-info-pair">
        <span class="node-info-pair-value"><%= consolePass %></span>
        <span class="node-info-pair-label">Root Pass</span>
    </li>
</script>

<!-- inputs: toastText -->
<script type="text/template" id="toast-wrapper-template">
    <span class="toast"><%= toastText %></span>
    <div class="toast-close">X</div>
</script>

<!-- inputs: user -->
<script type="text/template" id="account-info-wrapper-template">
    <div class="account-top-row-wrapper">
        <div class="account-name-wrapper">
            <span class="account-name"><%= user.get('email') %></span>
        </div>
        <div class="account-badge-wrapper">
            <!--<img class="account-badge" src="{% static "website/images/actions/pause.png" %}" />-->
        </div>
    </div>
    <ul class="account-menu">
        <% _.each(user.getAccountActions(), function(accountAction) { %>
            <div class="account-menu-item-wrapper <%= accountAction.className %>">
                <li class="account-menu-item">
                    <div class="account-menu-item-body">
                        <span class="account-menu-item-text"><%= accountAction.text %></span>
                    </div>
                </li>
            </div>
        <% }); %>
    </ul>
</script>

<!-- inputs: nodeActions, nodeID -->
<script type="text/template" id="node-actions-template">
    <% _.each(nodeActions, (function(nodeID, action) { %>
        <li class="node-action card-action <%= action.className %>">
            <img class="node-action-icon card-action-icon" src="{{ STATIC_PREFIX }}<%= action.iconUri %>" />
            <% if(action.href == null) { %>
                <span class="node-action-name card-action-name"><%= action.displayName %></span>
            <% } else { %>
                <a class="node-action-name card-action-name" <%= action.href ? " href=\"{0}\"".format(action.href()) : "" %><%= action.download ? " download=\"{0}\"".format(action.download) : "" %>><%= action.displayName %></a>
            <% } %>
        </li>
    <% }).bind(null, nodeID)); %>
</script>

<!-- inputs: placeholderCount -->
<script type="text/template" id="node-placeholder-template">
    <li class="node-entry placeholder-entry" data-id="<%= 'placeholder-' + placeholderCount %>"> <div class="node-entry-wrapper placeholder-entry-wrapper card">
            <div class="node-title card-title placeholder-title">
                <div class="placeholder-bars">
                    <div class="placeholder-bar-1"></div>
                    <div class="placeholder-bar-2"></div>
                </div>
                <span class="placeholder-title-text">New Node</span>
            </div>
            <div class="node-entry-body card-body placeholder-body">
                <div class="node-entry-body-inset placeholder-body-inset">
                    <div class="placeholder-create-button-wrapper">
                        <img class="placeholder-create-button" src="{% static "website/images/actions/add.png" %}" />
                    </div>
                </div>
            </div>
        </div>
    </li>
</script>

<!-- inputs: node -->
<script type="text/template" id="node-entry-template">
    <div class="node-entry-wrapper card">
        <div class="node-title card-title">Hostname: <%= node.get('name') %></div>
        <div class="node-entry-body card-body">
            <div class="node-entry-body-inset">
                <% if(node.get('image') != null && node.get('image').get('icon') != null) { %>
                    <img class="node-entry-distro-icon" src="{{ STATIC_PREFIX }}<%= 'website/images/distro/' + node.get('image').get('icon') %>" />
                <% } else { %>
                    <img class="node-entry-distro-icon" src="{% static "/static/website/images/distro/unknown.gif" %}" />
                <% } %>
            </div>
            <% if (false) { %>
                <div class="node-entry-action node-entry-networking">
                    <span class="node-entry-action-text">Networking</span>
                </div>
                <div class="node-entry-action node-entry-resources">
                    <span class="node-entry-action-text">Resources</span>
                </div>
                <div class="node-entry-action node-entry-snapshots">
                    <span class="node-entry-action-text">Snapshots</span>
                </div>
            <% } %>
        </div>
    </div>
</script>

<!-- inputs: docId -->
<script type="text/template" id="docs-template">
    <iframe class="docs-frame" src="<%= '/show/{0}'.format(docId) %>" />
</script>

<!-- inputs: images -->
<script type="text/template" id="new-node-template">
    <div class="new-node-wrapper">
        <div class="new-node-title-wrapper">
            <h2 class="new-node-title">Configure Node</h2>
        </div>
        <div class="new-node-body">
            <div class="new-node-images">
                <div class="new-node-images-title-wrapper">
                    <h3 class="new-node-images-title">1. Select base image</h3>
                </div>
                <div class="new-node-images-box">
                    <ul class="new-node-images-list">
                        <% images.each(function(image) { %>
                            <li class="new-node-image-entry" id="<%= image.get('id') %>">
                                <div class="new-node-image-entry-wrapper">
                                    <img class="image-entry-logo" src="{{ STATIC_PREFIX }}<%= 'website/images/distro/' + image.get('icon') %>" />
                                    <div class="image-entry-label-wrapper">
                                        <span class="image-entry-label"><%= image.get('display_name') %></span>
                                    </div>
                                </div>
                            </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
            <div class="new-node-hardware">
                <div class="new-node-hardware-title-wrapper">
                    <h3 class="new-node-hardware-title">2. Select hardware configuration</h3>
                </div>
                <div class="hardware-default-recommendation-wrapper">
                    <span class="hardware-default-recommendation">At this time, we only have this one hardware configuration!</span>
                </div>
                <div class="new-node-hardware-sections">
                    <div class="new-node-disk-wrapper hardware-entry">
                        <!--<img class="new-node-disk-icon" />-->
                        <div class="new-node-disk-label">Disk</div>
                        <div class="new-node-disk-value">10 GB</div>
                    </div>
                    <div class="new-node-ram-wrapper hardware-entry">
                        <!--<img class="new-node-ram-icon" />-->
                        <div class="new-node-ram-label">Memory</div>
                        <div class="new-node-ram-value">2048 MB</div>
                    </div>
                    <div class="new-node-cpu-wrapper hardware-entry">
                        <!--<img class="new-node-cpu-icon" />-->
                        <div class="new-node-cpu-label">vCPUs</div>
                        <div class="new-node-cpu-value">1</div>
                    </div>
                </div>
            </div>
            <div class="new-node-name">
                <div class="new-node-name-prompt">3. Create a hostname for your node</div>
                <input type="text" class="new-node-name-input" id="new-node-name" onkeyup="this.value = this.value.replace(/\s/, '')" />
            </div>
        </div>
        <div class="new-node-buttons">
            <div class="new-node-create-button new-node-button">Create</div>
            <div class="new-node-cancel-button new-node-button">Cancel</div>
        </div>
    </div>
</script>

<!-- inputs: statusIcon, statusText, buildSteps, publicIp -->
<script type="text/template" id="kit-load-overlay-template">
    <div class="kit-load-overlay">
        <div class="kit-load-gif-wrapper">
            <img class="kit-load-gif" src="{{ STATIC_PREFIX }}<%= 'website/images/status/' + statusIcon %>" />
        </div>
        <div class="kit-load-status-wrapper">
            <div class="kit-load-status-text-wrapper">
                <span class="kit-load-status-text"><%= statusText %></span>
            </div>
        </div>
        <div class="kit-load-steps-wrapper">
            <ul class="kit-load-steps">
                <% _.each(buildSteps, function(step, index) { %>
                    <li class="kit-load-step">
                        <div class="kit-load-step-icon-wrapper">
                            <img class="kit-load-step-icon" src="{{ STATIC_PREFIX }}<%= 'website/images/status/' + step.checkState().icon %>" />
                        </div>
                        <div class="kit-load-step-text-wrapper">
                            <span class="kit-load-step-text"><%= step.checkState().text %></span>
                        </div>
                    </li>
                <% }); %>
            </ul>
        </div>
        <% if(publicIp != null) { %>
            <div class="kit-load-action">
                <a target="_blank" href="<%= 'http://' + publicIp %>">Launch RStudio</a>
            </div>
        <% } %>
    </div>
</script>
