// Generic settings

.rounded(@radius: 3px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.round-top(@radius: 3px) {
  -webkit-border-top-left-radius: @radius;
  -moz-border-top-left-radius: @radius;
  border-top-left-radius: @radius;
  -webkit-top-bottom-right-radius: @radius;
  -moz-border-top-right-radius: @radius;
  border-top-right-radius: @radius;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.round-bottom(@radius: 3px) {
  -webkit-border-bottom-left-radius: @radius;
  -moz-border-bottom-left-radius: @radius;
  border-bottom-left-radius: @radius;
  -webkit-border-bottom-right-radius: @radius;
  -moz-border-bottom-right-radius: @radius;
  border-bottom-right-radius: @radius;
  -webkit-border-top-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}

.transition(@target: all, @secs: 0.2s) {
  -webkit-transition: @target @secs;
  -moz-transition: @target @secs;
  -ms-transition: @target @secs;
  -o-transition: @target @secs;
  transition: @target @secs;
}

.calc-width(@percent, @pixels) {
  width: ~"-moz-calc(@{percent} + @{pixels})";
  width: ~"-webkit-calc(@{percent} + @{pixels})";
  width: ~"-o-calc(@{percent} + @{pixels})";
  width: ~"calc(@{percent} + @{pixels})";
}

.grayscale(@percent: 100%) {
  -webkit-filter: grayscale(@percent);
  filter: grayscale(@percent);
}

* {  -webkit-box-sizing: border-box; -moz-box-sizing: border-box;  box-sizing: border-box; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  //overflow: visible;
}

header {
  width: 100%;
  height: 60px;
 // padding: 15px 30px;
  padding: 12px;
  background: #2980b9;
  color: white;
  overflow: visible;
//  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24);
}

footer {
  background: #2c3e50;
  height: 60px;
  color: #bdc3c7;
// box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24);
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 30px;
}

a {
  color: #0093d9;
  text-decoration: none;
}

/* Ribbons -TV */

.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Ribbon Styles -TV*/

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right {
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left{
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/*Ribbin Colors -TV*/

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}

.hidden {
  display: none;
}

// Page styles

.app-body {
  background: #ecf0f1;
}

.bootnode-logo-wrapper {
  display: inline-block;
  .rounded;
  .bootnode-logo {
    height: 40px;
  }
}


.bootnode-logo-wide-wrapper {
  display: inline-block;
  height: 30px;
  width: 100px;
  background: white;
  padding: 3px;
  .rounded;

  .bootnode-logo {
    height: 25px;
  }
}

.lockout-overlay {
  position: absolute;
  opacity: 0.3;
  background: black;
  width: 100%;
  height: 115%;
  top: 60px;
  z-index: 1001;
}

.toast-wrapper {
  display: inline-block;
  position: absolute;
  width: 50%;
  left: 25%;
  padding: 2px 8px;
  font-weight: bold;
  .rounded;

  .toast {
    float: left;
    text-align: center;
    width: 95%;
  }
  .toast-close {
    float: right;
    cursor: pointer;
  }
}

.toast-wrapper-info {
  background: #0093d9;
}
.toast-wrapper-alert {
  background: #ee4433;
}
.toast-wrapper-success {
  background: #22cc77;
}

.account-info-wrapper {
  display: inline-block;
  float: right;
  height: 30px;
  cursor: pointer;
  .transition;

  .account-top-row-wrapper {
    padding: 0px 5px;
    background: #0093d9;
    .rounded;

    .account-name-wrapper {
      display: inline-block;
      margin: 2.5px;
    }

    .account-badge-wrapper {
      display: inline-block;
      width: 20px;
      height: 20px;
      float: right;
      margin: 3.5px;

      .account-badge {
        height: 20px;
      }
    }
  }

  .account-menu {
    opacity: 0;

    .transition(opacity, 0.2s);

    .account-menu-item-wrapper {
      padding: 2.5px 5px;
      background: #2980b9;
      display: block;
      height: 30px;
    }
    .account-menu-item-wrapper:hover {
      background: #0093d9;
    }
  }
}

.account-info-wrapper:hover {
  background: #2980b9;

  .account-top-row-wrapper {
    background: #2980b9;
    .round-top;
  }
  .account-top-row-wrapper:hover {
    background: #0093d9;
  }
  .account-menu {
    opacity: 1;

    .transition(opacity, 0.2s);

    .account-menu-item-wrapper:last-child {
      .round-bottom;
    }
  }
}

main {
  padding: 1px;
  font-size: 0; // this hack removes whitespace between inline-block divs
  background: white;
}

.card {
  background: white;
//  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24);
  margin: 5px;
  padding: 10px;
  font-size: 12pt;
}

.card-title {
  border-bottom: lightgray 1px solid;
  padding: 0px;
  color: gray;
}

.card-body {
  margin: 5px;
  padding: 2.5px;
}

.card-actions-body {
  margin: 5px;
  padding: 2.5px;
}

.card-action {
  color: #4FC3F7;
  cursor: pointer;
  padding: 5px 5px 0px;

  .transition(color, 0.1s);
  .transition(background-color, 0.1s);
}
.card-action:hover {
  color: #03A9F4;
  background-color: #ecf0f1;

  .transition(color, 0.1s);
  .transition(background-color, 0.1s);
}

.card-action-name {
  vertical-align: super;
}

.card-action-icon {
  height: 20px;
  margin: 2px;
}

.node-detail {
  min-width: 10%;
 // box-shadow: 0px 10px 8px -7px rgba(0, 0, 0, 0.24);
  display: inline-block;
  margin-right: 0;
}

.node-detail .card-title {
  min-width: 10%;
  display: inline-block;
  margin-right: 0;
  background-color: white;
  border-bottom: lightgray 1px solid;
}

.nodes-list-wrapper {
  min-width: 10%;
  display: inline-block;
  vertical-align: top;
  background-color: white;
}
.overflow-special {
  overflow: scroll;
}

.nodes-list {
}

.nodes-list li {
  margin: 0px;
  padding: 0px;
  position: relative;
}

.docs-frame {
  width: calc(100%);;
  min-height: 800px;
}

.docs-wrapper {
  width: 60%;
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 6px 7px 5px 0px  rgba(0, 0, 0, 0.24);
  border-left: lightgray solid 1px;
  margin-left: 0px;
}


.node-info-pair {
  padding: 5px 2.5px;
}

.node-info-pair-label {
  color: gray;
  font-size: smaller;
}

.node-info {
  padding: 2.5px 2.5px 10px;
  border-bottom: lightgray 1px solid;
}

.node-entry-wrapper {
  margin-left: 1px;
  margin-right: 10px;
  width: 299px;
  background-color: white;
  box-shadow: 0px 10px 8px -7px rgba(0, 0, 0, 0.24);
  border-left: #2980b9  solid 3px;
}

.node-entry-wrapper:hover {
  border-left: lightgreen  solid 3px;
}

.node-entry {
  width: 100%;
}

.node-entry:first-child .card-title {
//  margin: 5px;
  padding: 0px;
  border-bottom: lightgray 1px solid;
  color: gray;
  background-color: #ffffff;
}

.node-entry:first-child .node-entry-wrapper {
  margin-left: 0px;
  padding: 10;
  width: 300px;
  background-color: #ffffff;
}

.node-entry:first-child .node-entry-body-inset {
  margin: 1px;
  padding: 1px;
  background-image: none;
  //height: 200px;
  background-color: #ffffff;
}

.node-entry:first-child .node-entry-distro-icon {
  display: block;
  height: 48px;
  width: 48px;
  margin-left:0px;
  margin-top: 0px;
}

.node-entry-body {
}

.node-entry-body:hover {
}

.node-entry-body-inset:hover {
}

.node-entry-distro-icon {
  display: inline;
  height: 48px;
  width: 48px;
  margin-left:0px;
  margin-top: 0px;
}

.node-icon {
//  display: inline-block;
  display: inline;
  width: 200px;
  padding: 1px;
  margin-left:0px;
  margin-top: 0px;
}

.node-entry-action {
  display: inline-block;
  border-right: lightgray 1px solid;
  padding: 0px 10px;
  margin: 2px 0px;
  color: #4FC3F7;
  cursor: pointer;
  .transition(color, 0.1s);
}
.node-entry-action:last-child {
  border: none;
}
.node-entry-action:hover {
  color: #03A9F4;
  .transition(color, 0.1s);
}

.node-entry .placeholder-entry {
background:white;
}

.placeholder-entry-wrapper {
  cursor: pointer;
  background-color: #FAFAFA;
  box-shadow: 0px 10px 8px -7px rgba(0, 0, 0, 0.24);
}

.placeholder-bars {
  position: absolute;
}
.placeholder-bar-1, .placeholder-bar-2 {
  background-color: #ecf0f1;
  .transition(opacity, 0.35s);
  opacity: 0;
  display: inline-block;
}
.placeholder-bar-1 {
  width: 30px;
  margin-right: 6px;
}
.placeholder-bar-2 {
  width: 50px;
}
//.placeholder-entry-wrapper:hover .placeholder-bar-1,
//.placeholder-entry-wrapper:hover .placeholder-bar-2 {
//  opacity: 0;
//  .transition(opacity, 0.35s);
//}

.placeholder-title-text {
  opacity: 1;
//  .transition(opacity, 0.35s);
}
//.placeholder-entry-wrapper:hover .placeholder-title-text {
//  opacity: 0;
//  .transition(opacity, 0.35s);
//}

.placeholder-create-button-wrapper {
//  height: 25px;
//  width:  25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
//  margin-top: 50px;
}

.placeholder-create-button {
  height: 25px;
  width:  25px;
  .grayscale(100%);
  .transition(filter, 0.35s);
  .transition(-webkit-filter, 0.35s);
}
.placeholder-entry-wrapper:hover .placeholder-create-button {
  height: 25px;
  width:  25px;
  .grayscale(0%);
  .transition(filter, 0.35s);
  .transition(-webkit-filter, 0.35s);
}

.placeholder-body-inset {
  border: white 1px dotted;
  border-radius: 15px;
}


.new-node-wrapper {
//  width: 100%;
//  height: 900px;
}

.new-node-title-wrapper {
  height: 10%;
  margin: 7.5px;
  padding: 7.5px;
  border-bottom: lightgray 1px solid;
}

.new-node-title {
//  font-size: x-large;
  margin: 7.5px;
  padding: 7.5px;
}

.new-node-body {
 // margin: 7.5px;
 // padding: 7.5px;
//  height: 600px;
}

.new-node-images {
  height: calc(40%);
}

.new-node-images-title-wrapper {
  margin: 7.5px;
  padding: 7.5px;
//  font-size: large;
}

.new-node-images-box, .new-node-hardware-sections {
  margin: 10px;
  padding: 10px;
//  box-shadow: 1px 1px 5px #555 inset;
  background-color: #FAFAFA;
}
.new-node-images-box {
  height: calc(70%);
}
.new-node-hardware-sections {
  height: calc(50%);
}

.new-node-images-list {
  padding: 7.5px 10px;
}

.new-node-image-entry {
  display: inline-block;
  padding: 0px 10px;
  cursor: pointer;
}
.new-node-image-entry.selected {
  background: #CFD8DC;
  border-radius: 3px;
}

.image-entry-logo {
  height: 85px;
}

.image-entry-label-wrapper {
  text-align: center;
}

.image-entry-label {
  font-weight: bold;
}

.new-node-hardware {
  height: calc(40%);
}

.new-node-hardware-title-wrapper {
  margin: 7.5px 7.5px 0px;
  padding: 7.5px 7.5px 0px;
 // font-size: large;
}

.hardware-default-recommendation-wrapper {
  font-size: small;
  color: gray;
  margin: 0px 7.5px;
  padding: 0px 7.5px;
}

.hardware-entry {
  margin: 10px 15px;
  padding: 10px 15px;
  display: inline-block;
}

.new-node-name {
  height: calc(15%);
  margin: 7.5px;
  padding: 7.5px;
}

.new-node-name-prompt {
//  font-size: large;
  margin: 0px 0px 10px;
}

.new-node-name-input {
  padding: 10px 15px;
  width: 50%;
  font-size: large;
}

.new-node-buttons {
  margin: 7.5px;
  padding: 7.5px;
  border-top: lightgray 1px solid;
}

.new-node-button {
  display: inline-block;
  padding: 10px 25px;
  margin: 5px 10px;
  cursor: pointer;
}
.new-node-cancel-button {
  color: #4FC3F7;
}
.new-node-cancel-button:hover {
  color: #3498db;
}
.new-node-create-button {
  border: lightgray 1px solid;
  background-color: #2980B9;
  color: white;
  font-weight: bold;
}


// Login / Register styles

.signup-form-container {
  width: 300px;
  margin: 100px auto 0 auto;

  .logo {
    display: block;
    width: 100%;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;

    img {
      width: 275px;
    }
  }

  h2, h3 {
    margin-bottom: 20px;
    text-align: center;
  }
  h2.error {
    color: red;
  }

  input {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
  }

  button, input[type="submit"] {
    width: 100%;
    height: 50px;
    background: #0093d9;
    border: 1px solid #0093d9;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
  }

  .tos-disclaimer {
    font-size: 12px;
    color: #ccc;
    text-align: center;
    margin-top: 10px;
  }

}

// kit loading lightbox

.kit-load-overlay {
  height: 500px;
  width: 500px;
  background: white;
  border-radius: 5px;
  padding: 20px;
}

.kit-load-gif-wrapper {
  text-align: center;
  margin: 10px;
}

.kit-load-status-wrapper {
  text-align: center;
  padding: 5px;
  height: 80px;
}

.kit-load-status-text {
  font-size: 14pt;
}

.kit-load-steps-wrapper {
  padding: 15px;
}

.kit-load-step {
  padding-left: 50px;
  margin: 25px 0px;
}

.kit-load-step-icon-wrapper {
  display: inline-block;
}

.kit-load-step-icon {
  height: 35px;
}

.kit-load-step-text-wrapper {
  display: inline-block;
  vertical-align: top;
  font-size: 14pt;
  margin-left: 20px;
  padding-top: 4px;
}

.kit-load-action {
  padding-top: 25px;
  font-size: 14pt;
  text-align: center;
}
