<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="initial-scale=1.0" name="viewport" /><!--  mobile viewport -->
<meta content="telephone=no" name="format-detection" /><!-- disable telephone link iphone -->
<title></title>
<style type="text/css">a {
      color: #fffff;
    }

    /* MS email hacks*/
    .ReadMsgBody {
         width: 100%;
         background-color: #eeeeee;
    }

     a.c19 {text-decoration: none; color:#ffffff}


    .ExternalClass {
         width: 100%;
         background-color: #eeeeee;
    }

    /* MS hacks */
    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
         line-height:100%;
    }

  .title {
      color: 00000;
  }

    table {
         border-spacing:0;
    }

    /* Outlook hack */
    table td {
         border-collapse:collapse;
    }

    /* Yahoo remove link*/
    .yshortcuts a {
         border-bottom: none !important;
    }

    /* Apple support. */
    @media only screen and (min-device-width: 601px) {
         .content {
              width: 600px !important;
         }
    }
</style>
<table bgcolor="#f4f4f4" border="0" cellpadding="0" cellspacing="0" height="100%" style="background: #f4f4f4;" width="100%">
    <tbody>
        <tr>
            <td><!-- Outlook --><!-- Outlook --><!--[if (gte mso 9)|(IE)]>
  <table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td>
  <![endif]--><!--  Outlook wrapper : END --><!-- Email wrapper : BEGIN -->
            <table align="center" bgcolor="#3498db" border="0" cellpadding="0" cellspacing="0" class="email-wrapper" style="max-width: 600px;margin: auto;" width="100%">
                <tbody>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td><!-- Logo Left, Nav Right : BEGIN -->
                        <p>&nbsp;<a class="c19" href="http://info.bootnode.com/welcome.html" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #ffffff; line-height: 20px; text-align: right;">View in browser</a></p>

                        <table border="0" cellpadding="0" cellspacing="0" style="background: #ffffff;" width="100%"><!-- Single Fluid Image, No Crop : BEGIN -->
                            <tbody>
                                <tr>
                                    <td align="center" valign="middle"><img align="center" src="https://www.bootnode.com/static/core/images/bootnode_logo.png" style="max-width: 100%; margin: auto; display: block; border-width: 0px; border-style: solid; width: 584px;" /></td>
                                </tr>
                                <tr>
                                    <td style="padding: 20px 40px 20px 40px; font-family: sans-serif; font-size: 16px; line-height: 27px; color: #333;">
                                    <h3 style="font-size: 22px; margin-bottom: 0">Welcome to bootnode!</h3>

                                    <p class="p1"><span class="s1">We are thrilled you joined bootnode. Our mission is simple, we want to get you productive in the cloud without all the clutter and complexity.</span></p>

                                    <p class="p2"><span class="s1">Confirm your email below to keep your cloud instances running&nbsp;</span></p>

                                    <p class="p2"><span class="s1"><a href="https://www.bootnode.com/validate/VALIDATION_CODE_PLACEHOLDER" style="background-color:#2ecc71; color:#fff; border-radius: 4px; -webkit-border-radius: 4px; display: block; text-decoration: none; margin: 30px 0px 30px 0px; padding:20px; text-align: center;">VERIFY YOUR EMAIL</a></span></p>

                                    <p class="p1"><span class="s1">With your 100% free bootnode account you can login at anytime, anywhere and manage your cloud instances. Login to your node right from the browser as root. <b> Your root password is CONSOLE_PASSWORD_PLACEHOLDER </b> Use the node controls to power cycle your node or delete and create a new node in seconds.</span></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                    </tr>
                    <!-- Footer : BEGIN -->
                    <tr>
                        <td style="text-align: center;padding: 40px 0px 0px 0px;font-family: sans-serif; font-size: 12px; line-height: 18px; color: #ffffff;">&copy; bootnode.com<br />
                        <a class="c19" ffffff="" href="mailto:beta@bootnode.com">beta@bootnode.com</a><br />
                        &nbsp;</td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
<!--[endif]----><!-- End of Outlook-specific wrapper : END -->

<p>&nbsp;</p>

